{{!-- html for a singular card for the api recipes that will display on the homepage (different style cards than the user's personal recipe cards. These cards connect to "homepage.handlebars") --}}

{{!-- Card for spoonacular recipes --}}
<div class="row row-cols-1 row-cols-md-3 m-3 g-4">
  <a href="/recipes/{{id}}">
    <div class="col">
      <div class="card h-100">
        <img src="/images/{{recipe_image.[0].filename}}" class="card-img-top" alt="{{recipe_image.[0].description}}" />
        <div class="card-body">
          <h5 class="card-title"><strong>{{recipe_name}}</strong></h5>
          <p>{{category}} 
            {{!-- <i>{{calories/serving}}</i> --}}
            </p>
          <a href="#" class="btn btn-primary">View Recipe</a>
        </div>
      </div>
    </div>
  </a>
</div>
