{{!-- html for a singular card that will display on the all-recipes page and homepage after user logs in. This connect to "homepage.handlebars" & "all-recipes.handlebars" --}}
<div class="d-flex flex-row"> 
  <div class="row m-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="/images/{{recipe_image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><strong>{{recipe_name}}</strong></h5>
          <p>{{category}} <i>{{calories/serving}}</i></p>
          <button type="button" class="navbar-brand" id="viewRecipeBtn" data-toggle="modal" data-target="#viewRecipeModal">View Recipe</button>
        </div>
      </div>
    </div>
  </div> 

  <div id="viewRecipeModal" data-toggle="modal" data-target="viewRecipeModal" class="modal fade show" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="view-recipe-header">{{recipe_name}}</h2>
          <button class="btn-close" type="button" data-bs-dismiss="modal"aria-div="Close"></button>
        </div>
      <div class="container">
        <div class="row d-flex">
          <div class="card">
            <div class="card-body d-flex flex-column">
                <i class="recipe-category mb-4">{{category}}</i>
                <img
                  src="/images/{{recipe_image}}"
                  class="recipe-image"
                  alt="..."
                />
              <br>
              <div class="recipe-ingredients">
                <h4>Ingredients</h4>
                <p>
                  <ul>
                    <li>{{ingredients}}</li>
                  </ul>
                </p>
              </div>
              <br>
              <div class="recipe-instructions">{{instructions}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>