{{!-- html for a singular card that will display on the all-recipes page and homepage after user logs in. This connect to "homepage.handlebars" & "all-recipes.handlebars" --}}

{{!-- TODO: create card with recipe.name, view button, background image, calories??, food category?? --}}
{{!-- pre-populate card with data--}}
{{!-- <div class="row row-cols-1 row-cols-md-3 m-3 g-4">
  <a href=`/recipes/{{id}}`>
    <div class="col">
      <button type="button" class="navbar-brand" id="viewRecipeBtn" data-toggle="modal" data-target="#viewRecipeModal">
        <div class="card h-100">
          <img src="/images/{{recipe_image.[0].filename}}` class="card-img-top" alt=``{{recipe_image.[0].description}}" />
          <div class="card-body">
            <h5 class="card-title"><strong>{{recipe_name}}</strong></h5>
            <p>{{category}} 
              <i>{{calories/serving}}</i>
            </p>
            <button type="button" class="navbar-brand" id="viewRecipeBtn" data-toggle="modal" data-target="#viewRecipeModal">View Recipe</button>
          </div>
        </div>
      </button>
    </div>
  </a>
</div>  --}}

<div class="row row-cols-1 row-cols-md-3 m-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img
              src="/images/chicken.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><strong>{{RecipeName}}</strong></h5>
              <p>{{category}} <i>{{calories/serving}}</i></p>
              <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="/images/spaghetti.jfif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><strong>{{RecipeName}}</strong></h5>
              <p>{{category}} <i>{{calories/serving}}</i></p>
              <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="/images/pasta.jfif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><strong>{{RecipeName}}</strong></h5>
              <p>{{category}} <i>{{calories/serving}}</i></p>
              <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
          </div>
        </div>
      </div> 