{{!-- html for the nav bar (links for "Sign up" and "Log In") and the carousel of images/search box. Include spaces to drop in cards from "api-cards.handlebars" --}}
<template id="card-template">
  {{#items}}
  <div class="card">
    <img class="card-img-top" src="{{image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{{description}}}</p>
    </div>
    <div class="card-footer text-muted">
      <a href="#" class="btn btn-outline-secondary float-right" data-toggle="modal" data-target="#myModal{{@index}}">read more ></a>
    </div>
  </div>
  
  <!-- Modal -->
<div class="modal fade" id="myModal{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <img class="card-img-top" src="{{image}}" alt="Card image cap">
            {{{description}}}
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn  btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  {{/items}}
</template>

<div id="content"  class="card-grid"></div>



